:root {
    --cube-red:     #EA3960;
    --cube-orange:  #EA8939;
    --cube-blue:    #182F86;
    --cube-green:   #458618;
}

body {
    background-image: url(images/bg-tile.svg);
    background-repeat: repeat;
    background-size: 24px 24px;
}

h1 {
    font-family: "Quantico", sans-serif;
    font-weight: 600;
    font-size: 40pt;
    line-height: 65px;
    color: white;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 2px 2px 0 black;

    margin: 20px;
}
#h1-red { color: var(--cube-red); }
#h1-org { color: var(--cube-orange); }
#h1-blu { color: var(--cube-blue); }
#h1-gre { color: var(--cube-green); }

#midsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#midmidsection {
    display: flex;
    align-items: center;
}
#square {
    display: grid;
    grid-template-columns: 50% 50%;
}
.tile {
    filter: drop-shadow(9px 9px 0 black);
}
